.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.signupContainer {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  width: 40%;
}

h3 {
  align-self: center;
  margin: 20px;
  font-size: larger;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.input {
  padding: 10px;
  margin: 15px 20px;
  border-radius: 5px;
}

.submit {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: brown;
  width: 20%;
  border-radius: 10px;
  color: white;
}
