.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(201, 196, 196);
    display: flex;
    color: black;
    font-weight:600;
}

.partOne {
    width: 33%;
}

.partOne .text {
    margin: 30px;
}

.partTwo {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 27%;
}

.partTwo a {
    text-decoration: none;
    color: black;
}

.partThree {
    width: 33%;
}

.iconContainer {
    display: flex;
    margin-top: -40px;
    margin-left: 50%;
}

.icons {
    margin: 5px;
    width: 30px;
    height: 30px;
}