.footer {
  width: 100%;
  height: 220px;
  background-color: #51be78;
  display: flex;
  color: black;
  font-weight: 600;
}

.partOne {
  width: 33%;
}

.partOne .text {
  margin: 30px;
}

.partTwo {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.partTwo a {
  text-decoration: none;
  color: black;
}

.partThree {
  width: 33%;
}

.iconContainer {
  display: flex;
  margin-top: -40px;
  margin-left: 30%;
}

.icons {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.elements {
  margin-left: 35%;
}

.adress {
  margin-left: 21%;
}
